{% extends "tarefas/base.html" %}
{% block conteudo %}
<div class="card">
<form method="post">
  <div class="card-header">
    Tem certeza que deseja remover a tarefa abaixo?
  </div>
  <div class="card-body">
    <h5 class="card-title">Titulo: {{tarefa.titulo}}</h5>
    <h6 class="card-title">Descrição: {{tarefa.descricao}}</h6>
    {% csrf_token %}
      <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
          <button class="btn btn-danger" type="submit">Remover</button>

  </div>
</form>
</div>

{% endblock conteudo %}